body {
   margin: 30px;
}

.photo {
   width: 300px;
}

.contacts {
   font-size: 16px;
   font-weight: 700;
}

.phone {
   font-style: italic;
   color: blue;
}

.mail {
   font-style: italic;
   color: blue;
   text-decoration: underline;
}

.info {
   background-color:aliceblue ;
   font-style: italic;
   
}